<% provide(:title, "About") %>
<h1>About</h1>
<p>ThankTank is a social platform for gratitude. You may share your most meaninful thoughts and moments in a space created for positivity, mindfulness, and compassion.</p>
<p>ThankTank is dedicated to serving water to those without access. Every post, comment, and like on this platform is a drop of water donated to someone in need.</p>
