<% provide(:title, "About") %>
<h1>About</h1>
<br>
<br>
<p class="about">ThankTank is a social platform for gratitude. You may share your most meaninful thoughts and moments in a space intended for positivity, mindfulness, and compassion.</p>
<br>
<p class="about">ThankTank is dedicated to serving water to those without access. Every post, comment, and like on this platform is a drop of water donated to someone in need.</p>
<br>
<p class="about">While one drop of water is close to nothing, it took many drops of water to fill our oceans.</p>
<p class="about">And like these drops of water, a single post of gratitude may appear to be close to nothing, but these digital drops of gratitude are are what fill the ThankTank.</p>
<p class="about">It will take many drops to provide for those without, so come by and make your donation today!</p>
<br>
<br>
<br>
<p class="quote">“We ourselves feel that what we are doing is just a drop in the ocean. But the ocean would be less because of that missing drop.”</p>
<p class="quote">-Mother Teresa</p>
