<% provide(:title, "Contact") %>
<h1>Contact</h1>
<p class="meta">connect on <a href="https://www.linkedin.com/in/benjamin-k-740412149/">LinkedIn</a> or send an <a href="mailto:1996byk@gmail.com?subject=ThankTank%20Contact">email</a></p>
<p class="meta">find more on <a href="https://www.github.com/benjaminykim">GitHub</a></p>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
<br>
