<footer class="footer">
  <div id="author-meta">
    <ul>
      <li>
        <a href="https://www.thanktank.app">ThankTank</a> by Benjamin Kim
      </li>
      <li>
        <a href="https://linkedin.com/in/benjamin-k-740412149/"><i class="fa fa-linkedin social"></i></a>
        <a href="https://github.com/benjaminykim"><i class="fa fa-github social"></i></a>
      </li>
    </ul>
  </div>
  <div id="site-meta">
    <ul>
      <li><%= link_to "About", about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </div>
</footer>
